<!DOCTYPE html>
<html>
   <head>
      <title>A Timestamp Microservice By dom.farnham()</title>
      <link href="/public/style.css" rel="stylesheet" type="text/css">
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="@jscodebook">
      <meta name="twitter:creator" content="@jscodebook">
      <meta name="twitter:title" content="A Timestamp Microservice By dom.farnham('@JSCodebook')">
      <meta name="twitter:description" content="A microservice which converts natural date strings to Unix timestamps and vice versa.">
      <meta name="twitter:image" content="https://cdn.glitch.com/84cad3dc-61ef-4507-aae5-abab16662edc%2Fa-timestamp-microservice.png?1503090284212">
   </head>
   <body>
      <div class="container">
        <h1>A Timestamp Microservice By dom.farnham('<a href="https://twitter.com/JSCodebook">@JSCodebook'</a>)</h1>
        <p>
          A microservice which converts natural date strings to Unix timestamps and vice versa.
        </p>
        <h4>
          Example usage:
        </h4>
        <p>
          <a href="https://a-timestamp-microservice.glitch.me/December%2015,%202015">https://a-timestamp-microservice.glitch.me/December%2015,%202015</a>
        </p>
        <p>
          <a href="https://a-timestamp-microservice.glitch.me/1450137600">https://a-timestamp-microservice.glitch.me/1450137600</a>
        </p>
        <h4>
          Example output:
        </h4>
        <p>
          { "unix": 1450137600, "natural": "December 15, 2015" }
        </p>
        <h2>
          <a href="mailto:dom@jscodebook.com">Contact me</a> | <a href="https://github.com/domfarnham">My GitHub</a>
        </h2>
      </div>
   </body>
</html>
