<!DOCTYPE html>
<html>
   <head>
      <title>A Timestamp Microservice By dom.farnham()</title>
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>
   <body>
      <div class="container">
        <h1>A Timestamp Microservice By <a href="https://twitter.com/DomFarnham">dom.farnham()</a></h1>
        <p>
          A microservice which converts natural date strings to Unix timestamps and vice-versa.
        </p>
        <h4>
          Example usage:
        </h4>
        <p>
          <a href="https://a-timestamp-microservice.glitch.me/December%2015,%202015">https://a-timestamp-microservice.glitch.me/December%2015,%202015</a>
        </p>
        <p>
          <a href="https://a-timestamp-microservice.glitch.me/1450137600">https://a-timestamp-microservice.glitch.me/1450137600</a>
        </p>
        <h4>
          Example output:
        </h4>
        <p>
          { "unix": 1450137600, "natural": "December 15, 2015" }
        </p>
        <h2>
          I am available for hire, <a href="mailto:dominic.farnham@hotmail.co.uk">contact me</a>
        </h2>
        <h2>
          <a href="https://github.com/domfarnham">My GitHub</a>
        </h2>
      </div>
   </body>
</html>
